In [2]:
import pandas as pd
import os
import numpy as np
import pandas_profiling

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns
sns.set(style="whitegrid") # can set style depending on how you'd like it to look

import folium  #needed for interactive map
from folium.plugins import HeatMap

import geopandas
from shapely.geometry import Polygon
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [3]:
path = 'Dataset/Parquets'
uber_trips_2014 = pd.read_parquet(path + '/uber2014_trips_nta.parquet', engine = 'pyarrow')
uber_trips_2015 = pd.read_parquet(path + '/uber2015_trips_nta.parquet', engine = 'pyarrow')

In [4]:
uber_trips_2014.drop(['pickup_latitude','pickup_longitude','base'], axis = 1, inplace = True)
uber_trips_2015.drop(['pickup_location_id','dispatch_base','affiliate_base'], axis = 1, inplace = True)

In [5]:
uber_trips_f = pd.concat([uber_trips_2014, uber_trips_2015])
uber_trips_f.head()

C:\Users\johns\Anaconda3\envs\DS4A_test\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,boro_code,boro_name,county_fips,index_right,ntacode,ntaname,pickup_datetime,pickup_month,shape_area,shape_leng
0,1,Manhattan,061,182.0,MN31,Lenox Hill-Roosevelt Island,2014-04-01 00:11:00,201404,21508615.8863,39424.2256525
15,1,Manhattan,061,182.0,MN31,Lenox Hill-Roosevelt Island,2014-04-01 02:31:00,201404,21508615.8863,39424.2256525
40,1,Manhattan,061,182.0,MN31,Lenox Hill-Roosevelt Island,2014-04-01 05:36:00,201404,21508615.8863,39424.2256525
47,1,Manhattan,061,182.0,MN31,Lenox Hill-Roosevelt Island,2014-04-01 05:52:00,201404,21508615.8863,39424.2256525
58,1,Manhattan,061,182.0,MN31,Lenox Hill-Roosevelt Island,2014-04-01 06:06:00,201404,21508615.8863,39424.2256525

In [6]:
path = 'Dataset/Parquets'
uber_trips_f.to_parquet(path + '/uber_trips_nta.parquet', engine = 'pyarrow')